# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]

# Override bind-address = 127.0.0.1 from 50-server.cnf
bind-address            = 0.0.0.0
