{
  "l10n": {
    "cache": {
      "langs": [],
      "rebuildThreads": 2,
      # Note that /tmp is a tmpfs on minikube but /var/tmp is on a real filesystem.
      "nodePath": "/var/tmp/l10n-cache",
      "containerPath": "/tmp/l10n-cache"
    }
  },
  "db": {
    "db": {
      "user": "wikiuser",
      "password": "secret",
      "createDBs": [
        "aawiki",
        "enwiki"
      ]
    }
  },
  "replicaCount": 2,
  "image": {
    "repository": "localhost:5000/dancy/mw-k8s-dev/mw",
    "tag": 45,
    "pullPolicy": "IfNotPresent"
  },
  "imagePullSecrets": [],
  "nameOverride": "",
  "fullnameOverride": "",
  "serviceAccount": {
    "create": false,
    "name": null
  },
  "podSecurityContext": {},
  "securityContext": {},
  "service": {
    "type": "ClusterIP",
    "port": 80
  },
  "ingress": {
    "enabled": false,
    "annotations": {},
    "hosts": [
      {
        "host": "chart-example.local",
        "paths": []
      }
    ],
    "tls": []
  },
  "resources": {},
  "nodeSelector": {},
  "tolerations": [],
  "affinity": {}
}
